/* 
  Replication of "Wormhole" by Jase Smith (https://codepen.io/jasesmith/pen/qqgvZe) 
*/

.portalContainer {
  --deg: 1;
  --x: -50%;
  --y: -50%;
  --speed: 200ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(circle at 50% 35%, #050505, );
  /* Darker background */
  z-index: 0;
}

.portalRing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(var(--x, -50%), var(--y, -50%)) rotate(0deg);
  font-size: 20vmin;
  width: 3em;
  height: 3em;
  border-radius: 90% 95% 85% 105%;
  background: #0f0;
  mix-blend-mode: screen;
  filter: hue-rotate(0deg);
  animation: wobble calc(var(--speed) * var(--t)) linear infinite;
  transform-origin: -var(--y) -var(--x);
  box-shadow: 0 0 .5em .2em #000 inset, 0 0 .15em 0 #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portalRing:nth-child(1) {
  --x: -53%;
  --y: -53%;
  --t: 37;
}

.portalRing:nth-child(2) {
  --x: -47%;
  --y: -52%;
  --t: 58;
}

.portalRing:nth-child(3) {
  --x: -45%;
  --y: -50%;
  --t: 46;
}

.portalRing:nth-child(4) {
  --x: -53%;
  --y: -45%;
  --t: 72;
}

.portalRing:nth-child(5) {
  --x: -55%;
  --y: -45%;
  --t: 62;
}

@keyframes wobble {
  to {
    filter: hue-rotate(360deg);
    transform: translate(var(--x), var(--y)) rotate(360deg);
  }
}